<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传Demo</title>
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{css/fileinput.css}">
    <script th:src="@{js/fileinput.js}"></script>
    <script th:src="@{js/theme.js}"></script>
    <script th:src="@{js/zh.js}"></script>


</head>
<body>

<button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#exampleModal">
    模态框内上传
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">上传文件</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="fo rm-group center-block"  >
                        <input id="modelInput" type="file" multiple class="file" data-overwrite-initial="true" data-min-file-count="1"
                               data-max-file-count="10" name="file" accept="image/*" >
                    </div>
                </form>
                <div id="kartik-file-errors"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <!-- <button type="button" class="btn btn-primary" title="Your custom upload logic">保存</button>-->
            </div>
        </div>
    </div>
</div>






<script src="js/initFileInput.js"></script>
<script>

    //初始化fileinput
    // initFileInput("upload","/uploadImg");
    // initFileInput("file","/uploadImg");
    // initFileInput("test1","/uploadImg");
    initFileInput("modelInput","/uploadImg");

</script>
</body>
</html>